<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The HTML5 Herald</title>
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>
    Before
    <br>
    <%- body %>
    <br>
    After
</body>
</html>
